@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;600;700&display=swap');



*{
    margin:0px;
    padding: 0px;
    font-family: 'IBM Plex Mono', monospace, sans serif;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

.navbar{
    margin-bottom:50px ;
    border-bottom: white solid 3px;
}
.navbar-nav{
    margin-right: 15px;
}
.navbar-brand{
    margin-left: 25px;
}

/*----SECCION NUMERO 1----*/

#seccion1{
    display: flex;
    width: 90%;
    margin: 0px auto 0px auto;
    justify-content:center;
    align-items: center;
    padding-top: 60px;
    
}

#seccion1 .seccion1-caja2 img{
    width: 60%;
}

#seccion1 .seccion1-caja1 .mi-nombre{
    color: rgb(68, 68, 255);
}
#seccion1 .seccion1-caja1 h1{
    margin-bottom: 70px;
}

#seccion1 .seccion1-caja1 .btn-cv{
    background-color:  rgb(68, 68, 255) ;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: solid 3px rgb(68, 68, 255);
}
#seccion1 .seccion1-caja1 .btn-cv:hover{
    background-color: white;
    color: rgb(68, 68, 255);
}

#seccion1 .seccion1-caja1 .redes{
    font-size: 25px;
    margin:25px 0px 0px 22px;
}

#seccion1 .seccion1-caja2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.wpp{
    position: fixed;
    bottom: -10px;
    right: 30px;
    font-size: 60px;
    color: #4CAF50;
    z-index: 1;
}

/*----SECCION NUMERO 2----*/

#seccion2{
    padding:30px 0px 180px 0px ;
    margin: 0 auto;
    background-color: #2b3035;
}

#seccion2 .titulo-seccion2{
    text-align: center;
    position: relative;
    background-color:white;
    padding: 5px 20px;
    border: solid 5px  #2b3035;
    width: 265px;
    bottom: 63px;
    margin: auto;
    }

#seccion2 hr{
    width: 30%;
    margin: 15px auto 30px auto;
    background-color: black;
    height: 3px;
}
#seccion2 .caja-contenido{
    align-items: center;
    margin: 0px 50px;
}
#seccion2 .caja-contenido h2{
    font-size: 60px;
    margin: 50px 0px;
    color: rgb(68, 68, 255) ; ;
}

#seccion2 .caja-contenido .texto-dos-columnas{
    column-count: 2;
    column-gap: 50px;
    color: white;
    font-weight: 500;
}

#seccion2 .caja-contenido .html{
    background-color: rgb(255, 145, 0);
}
#seccion2 .caja-contenido .css{
    background-color: rgb(0, 110, 255);
}
#seccion2 .caja-contenido .js{
    background-color: rgb(238, 255, 0);
}
#seccion2 .caja-contenido .react{
    background-color: rgb(0, 217, 255);
}
#seccion2 .caja-contenido .boostrap{
    background-color: rgb(153, 0, 255);
}

#seccion2 .caja-contenido .boostrap, .react, .js, .css, .html{
    padding: 0px 3px;
    font-weight: 600;
}
#seccion2 .caja-contenido .nombre-completo{
    color: rgb(68, 68, 255) ;
    font-weight: 800;
}
/*----SECCION NUMERO 3----*/
#seccion3 .titulo-seccion3{
    text-align: center;
    position: relative;
    background-color:white;
    padding: 5px 20px;
    border: solid 5px  #2b3035;
    width: 265px;
    bottom: 35px;
    margin: auto;
    }

.logo-utn, .logo-acir, .logo-arq{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-utn img{
    width: 10%;
}

.logo-acir img{
    width: 5%;
}
.logo-arq img{
    width: 15%;
}

.progress-container {
    width: 50%;
    height: 40px;
    background-color: #2b3035;
    border: 1px solid #333;
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 7px;
    padding-left: 10px;
    
}

.progress-bar {
    flex: 1;
    height: 100%;
    background-color: #4CAF50;
    position: relative;

}

.progress {
    height: 100%;
    display: flex;
    background: linear-gradient(to right,  rgb(68, 68, 255) ,  rgb(68, 155, 255) );
}

.progress-text {
    padding: 0 10px;
    font-weight: bold;
    color: white;
}

.centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contendor-arq{
    margin-top: 80px;
}
.lapiz-item{
    font-size: 30px ;
    margin-right: 20px;
    color: rgb(68, 68, 255);
}

/*----SECCION NUMERO 4----*/

#seccion4{
   background-color: #2b3035; 
   padding-bottom: 100px;
}

#seccion4 .titulo-seccion4{
text-align: center;
position: relative;
background-color:white;
padding: 5px 20px;
border: solid 5px  #2b3035;
width: 265px;
bottom: 35px;
margin: auto;
margin-top: 100px;
}

#seccion4 .contenedor-estilo1 .caja1{
    position: relative;
    height: 350px;
    width: 700px;
    overflow: hidden;
    cursor: pointer;
    transition: all 500ms ease-out;
    margin-bottom: 50px;
}

#seccion4 .contenedor-estilo1 .caja1 img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    border: 2px solid white;
    border-radius: 10px;
}
#seccion4 .contenedor-estilo1 .texto1 p{
    margin: 0px 20px;
    color: white;
    font-weight: 500;
}

#seccion4 .contenedor-estilo1 .texto1 h3{
    font-size: 30px;
    color: white;
    font-weight: 800;
}
#seccion4 .contenedor-estilo1 .texto1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(68, 68, 255, 0.7); 
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
}

#seccion4 .contenedor-estilo1 .caja1:hover > .texto1{
    opacity: 1;
    visibility: visible;
}

#seccion4 .contenedor-estilo1 .caja1:hover{
    scale: 0.98;
}

#seccion4 .contenedor-estilo1 .texto1 a{
    text-decoration: none;
    color: white;
    background-color: #2b3035;
    padding: 7px 18px;
    border-radius: 5px;
    border: solid 2px #2b3035;
    font-weight: 600;
}

#seccion4 .contenedor-estilo1 .texto1 a:hover{
    text-decoration: none;
    color: #2b3035;
    background-color: white;
    padding: 7px 18px;
    border-radius: 5px;
}
#seccion4 .contenedor-estilo1 .caja2{
    margin: 0px 20px;
}
#seccion4 .contenedor-estilo1 .caja2 h3{
    color: white;
    font-weight: 800;
    font-size: 23px;
    text-align: start;
   margin-bottom: 20px;
}
#seccion4 .contenedor-estilo1 .caja2 span{
    color:rgba(68, 68, 255);
    font-weight: 800;
    font-size: 30px;
    text-align: start;
}

#seccion4 .contenedor-estilo1{
    display: flex;
    align-items: center;
    width: 90%;
    margin:auto;
    margin-top: 30px;
}

/*----SECCION CINCO----*/
#seccion5 .titulo-seccion5{
    text-align: center;
    position: relative;
    background-color:white;
    padding: 5px 20px;
    border: solid 5px  #2b3035;
    width: 310px;
    bottom: 35px;
    margin: auto;
    }
#seccion5 .contenedor-seccion5{
    display: flex;
    flex-wrap:wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    row-gap: 30px;
    column-gap: 20px;
    margin-top: 50px;
}
#seccion5 .contenedor-seccion5 .caja-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    padding: 20px 0px 10px 0px;
    border-radius: 30%;
    border: solid rgba(68, 68, 255) 4px;
    
}

#seccion5 .contenedor-seccion5 .caja-logo img{
    width: 60%;
    height: auto;
    
}

#seccion5 .contenedor-seccion5 .caja-logo:hover{
    scale: 0.9;
    transition: all 500ms ease-out;
    box-shadow: 10px 10px rgba(68, 68, 255, 0.5);
}

/*----SECCION SEIS----*/
#seccion6 .titulo-seccion6{
    text-align: center;
    position: relative;
    background-color:white;
    padding: 5px 20px;
    border: solid 5px  #2b3035;
    width: 310px;
    bottom: 35px;
    margin: auto;
    }
   
    #seccion6{
        background-color: #2b3035;
        margin-top: 150px;
        padding-bottom: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(./img/bg1.3.png);
    }    
    #seccion6 h4{
        color: white;
        margin-top: 25px;
        font-size: 25px;
        font-weight: 600;
        border: 2px white solid;
        border-radius: 20px;
        padding: 5px 10px;
    }

    #seccion6 form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        width: 70%;
        margin-top: 15px;
    }

    #seccion6 form input{
        width: 50%;
        height: 50px;
        border-radius: 30px;
        padding: 0px 10px;
        background-color: rgba(68, 68, 255, 0.35);
        outline: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    #seccion6 form textarea{
        width: 50%;
        height: 200px;
        border-radius: 30px;
        padding: 10px 10px;
        background-color: rgba(68, 68, 255, 0.35);
        outline: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    #seccion6 .btn6{
        background-color:rgb(68, 68, 255);
        width: 50%;
        height: 50px;
        border-radius: 30px;
        border: solid 2px rgb(68, 68, 255);
    }

    #seccion6 .btn6:hover{
        background-color:rgb(104, 104, 250) ;
    }

    #seccion6 .redes{
        font-size: 40px;
        margin-top: 20px;
        background-color: white;
        padding: 3px 115px;
        border-radius: 30px;
    }

    #seccion6 .redes i{
        color:#2b3035;
    }

    /*----FOOTER----*/
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    footer h4{
        font-size: 15px;
        font-weight: 600;
    }


    /*----DISEÑO RESPONSIVE----*/

    @media(max-width:500px){
        .nav-link{
            padding-left: 25px !important;
        }
        .navbar-toggler{
            margin-right: 20px !important;
        }
        #seccion1 .seccion1-caja1 h1{
            font-size: 15px;
            margin-bottom: 20px;
        }

        #seccion1 .seccion1-caja1 .btn-cv{
            font-size: 8px;
            padding: 5px 10px;
        }
        #seccion1 .seccion1-caja2 img{
            width: 50%;
        }
        #seccion1 .seccion1-caja1 .redes{
            font-size: 15px;
            margin:10px 0px 0px 15px;
        }
    }